.list-view .scroll-bar:vertical{
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}
.list-view .scroll-bar:horizontal{
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}


.text-area .scroll-bar:vertical{
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: azure;
}
.text-area .scroll-bar:horizontal{
    -fx-pref-width: 0;
    -fx-pref-height: 0;
    -fx-background-color: azure;
}
